table{
    height: 300px;
    width: 100%;
    border-collapse: collapse;
}
th,td{
    border-bottom: 1px solid purple;
}
th{
    background-color: #0f85ce;
}
.heading{
    color: yellow;
}
tr:hover{
    background-color:greenyellow ;
}
tr:nth-child(even){
    background-color: lightseagreen;
}

