table{
    height: 300px;
    width: 100%;
    border: 2px solid #119b18;

}
th,td{
    border: 2px solid #5ea915;
    text-align: center;
}
th{
    background-color: gold;
}

.two{
    background-color: gold;
}
